.App {
    text-align: center;
}

.cc {
    color: red;
    cursor: pointer;
}
.cb {
    color: red;
    cursor: pointer;
}
.cr {
    cursor: pointer;
    color: blue;
}
.jumbotron {
    background-color: #a7d2f2;
    margin-top: 15%;
}
